/* Font Import */
@font-face {
    font-family: 'OldNewspaperTypesRegular';
    src: url('../font/oldnewspapertypes-webfont.eot');
    src: url('../font/oldnewspapertypes-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/oldnewspapertypes-webfont.woff2') format('woff2'),
        url('../font/oldnewspapertypes-webfont.woff') format('woff'),
        url('../font/oldnewspapertypes-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Global Code */
.clickableText {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 3px;
    color: #000;
}

/* General */
body {
    margin: 0;
    padding: 0;
    background-image: url("../media/BG2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
}
header .userMenu, header .headerMenu {
    cursor: pointer;
    margin-bottom: 50px;
    flex: 1;
}
.userMenu img {
    display: inline-block;
    width: 50px;
}
.headerMenu img {
    display: inline-block;
    width: 40px;
}
.headerMiddle img {
    width: 70%;
    flex: 2;
}
.timesItalic {
    margin: 0;
    font-size: 15px;
    font-family: 'Times New Roman', serif;
    font-style: italic;
}
.headerSlogan {
    color: #390606;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.noticiasSection, .comunidadeSection {
    flex: 1;
}
.noticiasSection header, .comunidadeSection header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}
.noticiasSection header img {
    width: 100%;
}
.noticiasSection header p {
    width: max-content;
}

.newsPost {
    font-family: 'OldNewspaperTypesRegular';
    font-size: 15px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.newsPost .imgContainer {
    position: relative;
    padding: 4px 3px 0 3px;
    border: 1px solid #390606;
}
.newsPost .imgContainer:before {
    content:"";
    display:block;
    position:absolute;
    z-index:1;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    border:2px solid rgba(255, 255, 255, 0);
}
.newsPost .imgContainer p {
    margin: 0 0 5px 0;
}

.newsPostBigPicture img, .newsPostSmallPicture img {
    width: 100%;
}
.newsPostSmallPicture {
    display: flex;
    flex-direction: row;
}
.newsPostSmallPicture > p {
    max-width: 55%;
    margin: 0 0 0 15px;
    text-align: left;
}
.newsPostSmallPicture .imgContainer {
    width: 45%;
    height: fit-content;
}
.newsPostSeparator div {
    width: 70%;
    height: 2px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 2px;
    background-color: #3906063a;
}

.middleSeparator div {
    width: 2px;
    height: 120vh;
    margin: auto;
    border-radius: 2px;
    background-color: #3906063a;
}

.comunidadeSection header img {
    width: 170%;
}
.comunidadeSection header p {
    width: max-content;
}
.comunidadeSection .orderPosts {
    width: 125%;
    margin-top: 25px;
}
.orderPosts p {
    display: inline;
}
.orderBySelect {
    display: inline;
    border: 1px dotted #390606;
    background: none transparent;
    text-align: center;
}

.userPost {
    width: 100%;
    margin-top: 40px;
}

.userInfo {
    display: flex;
    gap: 0px;
    margin-top: 20px;
}

.userInfoText p {
    margin: 0 0 5px -15px;
}
.userInfoText #userName {
    font-family: 'OldNewspaperTypesRegular';
    font-weight: 600;
}
.userInfoText #postTime {
    font-weight: 1000;
    color: #666666;
}

.userImage img {
    width: 55%;
    border: 2px solid #0000009a;
}

.userPostBody {
    display: flex;
    font-family: 'OldNewspaperTypesRegular';
    font-size: 14px;
    margin-top: 5px;
}
.userPostBody h3 {
    margin: 0 0 15px 10px;
    font-weight: 600;
}
.userPostBody p {
    max-width: 100%;
    margin: 0 0 0 12px;
}
.postReactions {
    width: 50%;
    height: fit-content;
    margin: 0 16px 0 9px;
    padding-bottom: 12px;
    border: 1px solid #0000007a;
    background-color: #00000036;
    text-align: center;
}
.postReactions > img {
    display: block;
    cursor: pointer;
    width: 70%;
    margin: auto;
    margin-top: 12px;
    filter: brightness(0.3);
}
.userPostContent .userSentImage {
    position: relative;
    width: 80%;
    height: fit-content;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin: 10px 0 20px 30px;
    padding: 4px 3px 0 3px;
    border: 1px solid #390606;
}
.userPostContent .userSentImage:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid rgba(255, 255, 255, 0);
}
.userPostContent .userSentImage img {
    width: 100%;
}
.userPostTags {
    float: right;
    margin: 10px;
}
.userPostTags span {
    padding: 3px;
    color: #fff;
    background-color: #0000009a;
}
#governoTag {
    background-color: #a5810b88;
}
#comercioTag {
    background-color: #12721288;
}
#escolasTag {
    background-color: #1a629c88;
}


.buttonContainer {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
#seeMoreNews, #seeMoreEvents, #seeMoreCommunity {
    margin: auto;
    font-family: 'OldNewspaperTypesRegular';
    font-size: 16px;
    background: none transparent;
}

/* Popup Code */
.commentsWindow {
    display: none;
    z-index: 2;
    position: absolute;
    width: 25%;
    height: 40%;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
    background-color: #b5a99b;
}
.commentsWindow h3 {
    margin: 15px 0;
}
.closeCommentsWindow {
    float: right;
    width: 20px;
    margin: 20px;
    filter: opacity(0.6);
}
.commentBlock {
    margin-bottom: 40px;
}
.userInfoComment {
    width: 80%;
    text-align: left;
}
.userInfoComment .userImage {
    width: 10%;
    margin-left: 20px;
}
.userInfoComment .userImage img {
    width: 100%;
    margin: 0;
    border: 1px solid #0000009a;
}

.commentBlock .postReactions {
    width: 4%;
    margin: 0 20px 0 27px;
    padding: 0 7px;
}
.commentBlock .postReactions img {
    width: 180% !important;
    margin: 5px -3px;
}
.commentBlock .userPostBody p {
    margin: 0 0 0 -10px !important;
}

/* Responsiveness */
@media only screen and (max-width: 1200px) {
    header {
        width: 80%;
    }

    main {
        width: 60%;
    }

    .postReactions {
        width: 55%;
        margin: 0 10px;
    }
    .postReactions > img {
        width: 25px;
    }
}

@media only screen and (max-width: 900px) {
    body > header {
        display: block;
        width: 90%;
        margin: auto;
        flex-direction: column;
    }
    body > header .userMenu {
        display: none;
    }
    body > header .headerMenu {
        margin-top: 20px;
        margin-bottom: 15px;
        margin-right: -40px;
    }
    .headerMiddle {
        display: block !important;
        flex: 10;
        width: 110%;
        margin: auto;
        padding: 0;
        text-align: center;
    }
    .headerMiddle img {
        width: 100%;
    }

    .timesItalic {
        font-size: 20px;
    }

    main {
        width: 100%;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .newsPostSmallPicture {
        display: flex;
        flex-direction: column;
    }
    .newsPostSmallPicture > p {
        max-width: 100%;
        margin: 0 0 0 15px;
        text-align: center;
    }
    .newsPostSmallPicture .imgContainer {
        width: 100%;
        height: fit-content;
        margin: 15px 0;
    }

    .middleSeparator div {
        width: 60%;
        height: 2px;
    }

    .comunidadeSection {
        margin-top: 30px;
    }
    .comunidadeSection header img {
        width: 150%;
    }
    .comunidadeSection header p {
        width: 150%;
    }
    .comunidadeSection .orderPosts {
        width: 100%;
        margin-top: 25px;
    }

    .postReactions {
        width: 7%;
        margin: 0 20px 0 13px;
        padding: 0 7px;
    }
    .postReactions > img {
        margin-top: 17px;
        margin-bottom: 5px;
    }

    .commentsWindow {
        width: 80%;
    }
    .commentsWindow .postReactions img {
        width: 120% !important;
    }
}

/* Popup Code */
#popupContainer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../media/BG2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.popupContainerRelativeReset {
    position: relative;
    width: 100%;
    height: 100%;
}
#sendCommunityPostBlock {
    display: none;
    position: absolute;
    width: 30%;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 50px 20px;
    font-family: 'OldNewspaperTypesRegular';
    text-align: center;
    align-items: center;
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}
.closeSendCommunityPostBlock {
    display: block;
    float: right;
    width: 20px;
    margin: 20px;
    filter: opacity(0.6);
}

#sendCommunityPostBlock h2 {
    margin-top: 50px;
}
#sendCommunityPostBlock form label {
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
}
#sendCommunityPostBlock form input, #sendCommunityPostBlock form textarea {
    width: 70%;
    font-family: 'OldNewspaperTypesRegular';
    font-size: 18px;
    text-align: center;
}
#sendCommunityPostBlock form input[name=communityPostText] {
    height: 200px;
}
#sendCommunityPostBlock form input[type=file] {
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
}
#sendCommunityPostBlock form input[type=submit] {
    display: inline-block;
    width: fit-content;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

/* Page Specific Content */
/* posts-da-comunidade/index.html */
.postsDaComunidadeMain {
    width: 50% !important;
    gap: 100px;
    margin-top: 0;
}
.comunidadeDedicatedHeader {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 50px;
}
.comunidadeDedicatedHeader header {
    margin-bottom: 50px;
}
.comunidadeDedicatedHeader .orderPosts {
    margin-bottom: 0;
}
.comunidadeDedicatedHeader .buttonContainer {
    margin: 50px 0;
}

.historiasSection {
    margin-bottom: 50px;
}
.historiasSection header img {
    width: 100% !important;
}

/* Login Code */
#mobileMain {
    display: none;
}
#desktopMain {
    margin-top: 20px;
}
#desktopMain * {
    font-family: 'OldNewspaperTypesRegular';
}

#forms-cadastro,
#forms-login {
    position: relative;
    width: 485px;
    height: 475px;
    background-color: none transparent;
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.formMainLabels {
    display: flex;
    width: 1130px;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 90px;
}
.formMainLabels p {
    flex: 1;
    font-size: 30px;
    font-family: 'OldNewspaperTypesRegular';
    color: #522624;
}

.container-forms {
    height: 450px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 60px !important;
}

#formDivisor {
    width: 2px;
    height: 30vh;
    margin: auto;
    border-radius: 2px;
    background-color: #3906063a;
}

form {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 25px !important;
}
.form-group {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

input {
    width: 340px;
    height: 40px;
    margin: 0 8px;
    border-radius: 12px;
    border: none !important;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
.nameBlock {
    position: relative;
}
.nameBlock p {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
input[type=password], #senha1, #senha2 {
    display: inline;
    max-width: 273px;
}
#passwordShowHideButton1, #passwordShowHideButton2 {
    display: inline;
    float: right;
    width: 33px;
}
.loginButton {
    width: 145px;
    height: 49px;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center !important;
    background-color: #522624;
    color: #fff;
    border: none;
}

.esqueceu-senha{
    font-size: 13px;
    font-weight: normal;
    text-align: center !important;
}
.hrefLogin {
    text-decoration: none !important;
    padding: 5px;
    border-radius: 12px;
    color: #fff !important;
    background-color: #52262493
}

.btn, .btn2 {
    position: absolute;
    bottom: 40px;
}
.btn2 {
    display: flex !important;
    justify-content: center !important;
}
.btn {
    display: flex !important;
    justify-content: center !important;
}

label {
    width: 60px;
    margin-right: -5px;
    color: #000 !important;
}

.eye {
    width: 35px;
}

@media only screen and (max-width: 1250px) {
    body {
        text-align: center;
    }
    #desktopMain {
        display: none;
    }
    #mobileMain {
        display: inline-block;
        margin: auto;
        margin-top: 50px;
        width: 50%;
        text-align: center;
    }
    .chooseLoginRegister {
        display: inline-block;
        width: 99%;
        margin: auto;
        margin-bottom: 50px;
        padding: 8px;
        padding-bottom: 20px;
        flex-direction: row;
        border-radius: 0 0 30px 30px;
        background-color: #171E38;
    }
    .chooseLoginRegister p {
        margin: 50px 0 20px 0;
        font-size: 25px;
        color: #fff;
    }
    .chooseLoginRegister button {
        display: block;
        width: 145px;
        height: 49px;
        margin: 5px auto;
        border-radius: 4px;
        font-size: 22px;
        text-align: center !important;
        background-color: #737DA0;
        color: white;
        border: none;
    }
}