body {
    background-image: url("../media/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
}
header .userMenu, header .headerMenu {
    margin-bottom: 50px;
    flex: 1;
}
.userMenu img {
    display: inline-block;
    width: 50px;
}
.headerMenu img {
    display: inline-block;
    width: 40px;
}
.headerMiddle img {
    width: 70%;
    flex: 2;
}
.timesItalic {
    margin: 0;
    font-size: 15px;
    font-family: 'Times New Roman', serif;
    font-style: italic;
}
.headerSlogan {
    color: #390606;
}

main {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.noticiasSection, .comunidadeSection {
    flex: 1;
}
.noticiasSection header, .comunidadeSection header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.noticiasSection header img {
    width: 100%;
}
.noticiasSection header p {
    width: max-content;
}

.middleSeparator {
    width: 2px;
    height: 70vh;
    margin: auto;
    border-radius: 2px;
    background-color: #39060677;
}

.comunidadeSection header img {
    width: 170%;
}
.comunidadeSection header p {
    width: max-content;
}