/* Font Import */
@font-face {
    font-family: 'OldNewspaperTypesRegular';
    src: url('../font/oldnewspapertypes-webfont.eot');
    src: url('../font/oldnewspapertypes-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/oldnewspapertypes-webfont.woff2') format('woff2'),
        url('../font/oldnewspapertypes-webfont.woff') format('woff'),
        url('../font/oldnewspapertypes-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Global Code */
.clickableText {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 3px;
}

/* General */
body {
    background-image: url("../media/BG2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
}
header .userMenu, header .headerMenu {
    cursor: pointer;
    margin-bottom: 50px;
    flex: 1;
}
.userMenu img {
    display: inline-block;
    width: 50px;
}
.headerMenu img {
    display: inline-block;
    width: 40px;
}
.headerMiddle img {
    width: 70%;
    flex: 2;
}
.timesItalic {
    margin: 0;
    font-size: 15px;
    font-family: 'Times New Roman', serif;
    font-style: italic;
}
.headerSlogan {
    color: #390606;
}

main {
    display: flex;
    justify-content: center;
    gap: 4%;
    width: 55%;
    margin: auto;
    margin-top: 50px;
}

.noticiasSection, .comunidadeSection {
    flex: 1;
}
.noticiasSection header, .comunidadeSection header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}
.noticiasSection header img {
    width: 100%;
}
.noticiasSection header p {
    width: max-content;
}

.newsPost {
    font-family: 'OldNewspaperTypesRegular';
    font-size: 15px;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}
.newsPost .imgContainer {
    position: relative;
    padding: 4px 3px 0 3px;
    border: 1px solid #390606;
}
.newsPost .imgContainer:before {
    content:"";
    display:block;
    position:absolute;
    z-index:1;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    border:2px solid rgba(255, 255, 255, 0);
}
.newsPost .imgContainer p {
    margin: 0 0 5px 0;
}

.newsPostBigPicture img, .newsPostSmallPicture img {
    width: 100%;
}
.newsPostSmallPicture {
    display: flex;
    flex-direction: row;
}
.newsPostSmallPicture > p {
    max-width: 55%;
    margin: 0 0 0 15px;
    text-align: left;
}
.newsPostSmallPicture .imgContainer {
    width: 45%;
    height: fit-content;
}

.middleSeparator div {
    width: 2px;
    height: 90vh;
    margin: auto;
    border-radius: 2px;
    background-color: #3906063a;
}

.comunidadeSection header img {
    width: 170%;
}
.comunidadeSection header p {
    width: max-content;
}
.comunidadeSection .orderPosts {
    margin-top: 25px;
}
.orderPosts p {
    display: inline;
}
.orderBySelect {
    display: inline;
    border: 1px dotted #390606;
    background: none transparent;
    text-align: center;
}

.userPost {
    width: 100%;
    margin-top: 40px;
}

.userInfo {
    display: flex;
    gap: 0px;
    margin-top: 20px;
}

.userInfoText p {
    margin: 0 0 5px -15px;
}
.userInfoText #userName {
    font-family: 'OldNewspaperTypesRegular';
    font-weight: 600;
}
.userInfoText #postTime {
    font-weight: 1000;
    color: #666666;
}

.userImage img {
    width: 65%;
    border: 2px solid #0000009a;
}

.userPostBody {
    display: flex;
    font-family: 'OldNewspaperTypesRegular';
    font-size: 14px;
    margin-top: 5px;
}
.userPostBody p {
    max-width: 85%;
    margin: 0 0 0 12px;
}
.postReactions {
    width: 50%;
    height: fit-content;
    margin: 0 16px 0 9px;
    padding-bottom: 12px;
    border: 1px solid #0000007a;
    background-color: #00000036;
    text-align: center;
}
.postReactions img {
    display: block;
    cursor: pointer;
    width: 70%;
    margin: auto;
    margin-top: 12px;
}
.userPostContent .userSentImage {
    position: relative;
    width: 80%;
    height: fit-content;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    padding: 4px 3px 0 3px;
    border: 1px solid #390606;
}
.userPostContent .userSentImage:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid rgba(255, 255, 255, 0);
}
.userPostContent .userSentImage img {
    width: 100%;
}

/* Responsiveness */
@media only screen and (max-width: 1200px) {
    header {
        width: 80%;
    }

    main {
        width: 60%;
    }

    .postReactions {
        width: 55%;
        margin: 0 10px;
    }
    .postReactions img {
        width: 25px;
    }
}